@import url('https://fonts.googleapis.com/css?family=Lato'); /*font-family: 'Lato', sans-serif;*/
*{
	box-sizing: border-box;
}
.container-fluid{
	padding: 0;
	margin: 0;
}
p{
	font-size: 16px;
}
header .content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #313131;
    font-weight: 400;
    padding: 20px 55px 10px 20px;
}
header .phone, header .mail{
	font-size: 20px;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
}
header .phone::before{
	content: '';
	display: block;
	background: url('../images/1.png');
	width: 42px;
	height: 42px;
	margin-right: 15px;
}
header .mail::before{
	content: '';
	display: block;
	background: url('../images/2.png');
	width: 42px;
	height: 42px;
	margin-right: 15px;
}
header a{
	text-decoration: underline;
}
.logo img{
	max-width: 256px;
	margin-bottom: 5px;
}
.form-group{
	max-width: 307px;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
.pick{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	max-width: 680px;
	margin: 0 auto;
}
.form-control.custom-control.btn.btn-custom-grad {
    font-weight: 400;
    color: #000;
    font-size: 18px;
}
.advantages{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
}
.advantages-item{
	max-width: 268px;
	text-align: center;
	margin: 35px 0;
}
.advantages-item-img{
	margin-bottom: 15px;
	min-height: 80px;
}
.advantages-item_header{
	line-height: 22px;
	color: #313131;
	font-size: 18px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.advantages-item_paragraph{
	line-height: 18px;
	color: #494949;
	font-size: 15px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
}
#slider, #partner, #feedback, #diploma, #stuff {
    margin: 0 auto;
    max-width: 925px;
}
.arrows{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 2px solid red;
	background: transparent url('../img/arrows-slider.png');
	transition: background 1s ease;
}
.arrows:hover{
	border: 2px solid red;
	background: #f00 url('../img/arrows-slider.png');
}
.prew{
	background-position: -2px -3px;
	float: left;
}
.prew:hover{
	background-position: -2px 35px;
}
.next{
	background-position: -36px -3px;
	float: right;
}
.next:hover{
	background-position: -36px 35px;
}
.carousel-control{
	opacity: 1;
}
.carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #C5B2B8;
    border: 1px solid transparent;
    border-radius: 10px;
}
.carousel-indicators li.active {
    width: 16px;
    height: 16px;
    border-color: #E20612;
    border: 1px solid transparent;
    margin-top: -1px;
}
.price-group{
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.price-group_product {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 15px;
	position: relative;
	margin: 1em 0;
	width: 20%;
	min-height: 185px;
}
.price-group_product span {
    line-height: 23px;
    color: #585858;
    font-size: 19px;
    text-align: center;
    font-family: lato, sans-serif;
    font-weight: 400;
}
.price-group_product:hover > .describe {
    display: flex;
}
.btn.btn-custom-red-red {
    line-height: 24px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    font-family: lato, sans-serif;
    font-weight: 400;
    width: 85%;
    display: flex;
    justify-content: center;
}
span.arows{
	background: transparent url('../img/arrows-slider.png');
	background-position: -30px -44px;
	float: left;
	width: 37px;
	height: 25px;
}
.representatives {
    background-image: url(../images/bg-trade.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.representatives-inner {
    max-width: 1075px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.representatives-about {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: end;
}
.representatives-about_header{
	font-size: 20px;
	line-height: 20px;
	color: #202021;
	font-weight: 700;
	font-family: lato, sans-serif;
}
.representatives-about_paragraph{
	font-size: 20px;
	color: #585858;
}
.representatives.pattern {
    background-image: url("../images/bg-second.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.partnership .parent-about{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.partnership .parent-about li{
	text-align: left;
	width: auto;
	margin: 0;
}
.ladder{
	margin: .5em 0;
}
.scheme{
	position: relative;
} 
.line {
    position: absolute;
    width: 2px;
    height: 35em;
    background: #B84848;
    left: calc(50% + 1px);
    top: 14em;
}
.ml11{
	margin-left: 11px;
}
.ladder {
  max-width: 734px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.ladder .arrow-left,
.ladder .arrow-right,
.ladder .note {
  width: 45%;
  height: 55px;
  margin: 1em 0;
}
.ladder .note.left {
  text-align: right;
}
.ladder .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eb4b4b;
}
.ladder .dots {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eb4b4b;
}
.ladder .dot::after {
  content: '';
  display: block;
  width: 2px;
  height: 7em;
  margin-left: 9px;
  background: #eb4b4b;
}
.ladder .arrow-left {
  background: url("https://raw.githubusercontent.com/mikhail-monkeysbrain/maxi-opt/master/img/arrow-left-x.png") no-repeat right;
  background-size: cover;
  line-height: 55px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: lato, sans-serif;
  font-weight: 400;
  padding-left: 10px;
}
.ladder .arrow-right {
  background: url("https://raw.githubusercontent.com/mikhail-monkeysbrain/maxi-opt/master/img/arrow-right-x.png") no-repeat left;
  background-size: cover;
  line-height: 55px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: lato, sans-serif;
  font-weight: 400;
  padding-right: 10px;
  text-align: right;
}
.note{
	line-height: 55px;
	color: #585858;
	font-size: 18px;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 400;
}
.representatives.prefer {
    background-image: url(../images/serv-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.representatives.feedback{
    background-image: url("../images/bg-second.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
#diploma .about-vert{
	width: 33.33%;
}
#diploma .about-vert img {
    width: 90%;
    height: auto;
}
#diploma .carousel-inner{
	min-height: 330px;
}
#stuff .about-vert{
	width: 33.33%;
}
#stuff .about-vert img {
    width: 95%;
    height: auto;
}
#stuff .about-vert img:hover{
	border: 2px solid #E20612;
}
#stuff .carousel-inner{
	min-height: 450px;
}
.panel-group_questions{
	min-height: 500px;
	overflow-y: auto;
	padding: 3em;
	margin: 0 8%;
	background-color: #DED4D7;
	border-radius: 10px;
	margin-bottom: 5em;
}
.panel-group{
	max-width: 1000px;
	margin: 0 auto;
	background: #ECF4FA;
	padding: 20px;
	border-radius: 10px;
}
#ymaps1480405180867206853{
	min-height: 630px;
}
.contact {
  max-width: 1000px;
  margin: 0 auto;
}
.contact .office,
.contact .branches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: end;
      -ms-flex-pack: center;
}
.contact .office h3,
.contact .branches h3 {
  width: 100%;
  text-align: center;
    
}
.contact .office .address,
.contact .branches .address,
.contact .office .phone,
.contact .branches .phone,
.contact .office .time,
.contact .branches .time {
	width: 33%;
	text-align: left;
	padding: 10px 40px;
	position: relative;
}
.contact .office .phone,
.contact .branches .phone{
	width: 25%;
}
.contact .address::before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 24px;
	position: absolute;
	background: url(../img/sprite.png);
	left: 0;
}
.contact .phone::before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 24px;
	position: absolute;
	background: url(../img/sprite.png);
	background-position: 34px 0;
	left: 0;
}
.contact .time::before{
	content: "";
	display: inline-block;
	width: 21px;
	height: 24px;
	position: absolute;
	background: url(../img/sprite.png);
	background-position: 20px 0;
	left: 0;
}
	.first-offer .row, #slider .row, #partner .row, #feedback .row, #diploma .row, #stuff .row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
@media screen and (max-width: 1024px){
	.first-offer, #slider, #partner, #feedback, #diploma, #stuff, .panel-group{
		width: 80%;
	}
	#feedback p{
		font-size: 14px;
	}
	.about-hor{
		min-width: 80%;
		width: 100%;
	}
	.col-md-12{
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 960px){
	header .content{
		padding: 0 10px;
	}
	.logo{
		padding: 5px;
		width: 35%;
	}
	.logo img{
		max-width: 200px;
	}
	.form-group{
		max-width: 240px;
	}
	h2{
		margin: 0 .5em;
	}
}

@media screen and (max-width: 768px){
	header .content{
		flex-wrap: wrap;
	    justify-content: space-around;
	}
	.logo{    
		width: 100%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.logo img{
		max-width: 100%;
	}
}